<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Let your users import their data in your SAAS with a familiar excel like UI."
    />
    <meta name="author" content="Renan LE CARO" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Importabular : 5kb javascript spreadsheet component</title>
      <link rel="icon" href="./logo.png"/>
  </head>
  <body>

  <section
          class="sample"
          style="background-image: linear-gradient(-141deg, #cda9f9, #96c4ff)"
  >
      <div id="editor"></div>
      <div>

          <h1>Minimal spreadsheet javascript component</h1>

          <p>Install it from npm</p>
          <pre><code>npm install importabular</code></pre>

          <p>Instantiate it on a dom node</p>

          <pre><code data-script="simple"></code></pre>

          <p>Manipulate the sheet programmatically</p>
          <pre><code lang="javascript">sheet.getData();</code></pre>
          <pre><code lang="javascript">sheet.setData([['First','line','text']);</code></pre>
          <pre><code lang="javascript">sheet.destroy()</code></pre>


      </div>

  </section>



  <section
          class="sample"
          style="background-image: linear-gradient(141deg, #f25407, #ac02f9);"
  >
      <div id="with-checks"></div>
      <div>
          <h2>More complete example</h2>


          <pre><code data-script="with-checks"></code></pre>
      </div>
  </section>
    <section
      style="background-image: linear-gradient(141deg, #0096c4, #165fac)"
    >
      <div>
        <h2>Goals and limitations</h2>
        <p>
          I've created this lib because I was tired of having to remove 90% of
          the features offered by the very few open source libs for web
          spreadsheets.
        </p>
        <p>
          So for this reinventing the wheel to make sense, I should not add any
          extra features to this core.
        </p>
        <ul>
          <li>No "drag cell corner to expand its value"</li>
          <li>No virtual rendering</li>
          <li>No sorting, pivot, formula, etc ..</li>
          <li>Only basic keyboard shortcuts</li>
          <li>Only strings as data type</li>
          <li>Only for recent browsers</li>
        </ul>

        <p>
          The lib is fresh and not battle tested, probably has some bugs. The
          API is not stable yet. Feel free to
          <a href="https://github.com/renanlecaro/importabular/issues/new">
            create an issue</a
          >
          if you find a bug.
        </p>
      </div>
    </section>



  <a href="https://github.com/renanlecaro/importabular" class="github-corner" aria-label="View source on GitHub">
      Fork me on GitHub
  </a>

  </body>
</html>
